

QFrame #widgetFrame
{
        background-color: rgba(0, 0, 0, 90);
}

QWidget #CVOut1
{
        background-color: rgba(160, 160, 160, 50);
}

QWidget #CVOut2
{
        background-color: rgba(160, 160, 160, 50);
}

/* ---------- QSpinBox ------------*/

QSpinBox
{
        font: 12pt "Corbel";
        background-color: rgba(1, 1, 1, 100);
        color: red;

       padding-left: 4px;
                border: 1px solid rgb(100,0,0);
}

QAbstractSpinBox:focus
{
        background-color: rgba(60, 60, 60, 100);
        color: white;
        outline: none;
}


QSpinBox::up-button {
    width: 16px; /* Adjust size as needed */
    height: 9px; /* Adjust size as needed */
        padding: 0 0;
    subcontrol-origin: border;
    subcontrol-position: top right; /* Position can be adjusted if needed */
    image: url(:/ui/ui_images/arrow-up.svg);
}


QSpinBox::down-button {
    width: 16px; /* Adjust size as needed */
    height: 9px; /* Adjust size as needed */
   padding: 0 0;
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* Position can be adjusted if needed */
    image: url(:/ui/ui_images/arrow-down.svg);
}


QAbstractSpinBox:focus
{
        background-color: rgba(60, 60, 60, 100);
        color: white;
        outline: none;
}



/**************LABEL**************/
QLabel
{
        font: 12pt "Corbel";
        color: rgb(242, 242, 242);
        background-color: transparent;
}

/*----------- QPushButton ------------*/
QPushButton
{
        background: rgb(60, 60, 60);
        color: rgb(245, 245, 245);
        border: 2px solid rgb(245, 245, 245);
        font: 8pt "Corbel";
        padding: 0, 1, 0, 0;
}


QPushButton:pressed
{
        background: rgb(245, 245, 245);
        color: rgb(60, 60, 60);
        border: 2px solid rgb(245, 245, 245);
        font: 8pt "Corbel";
        padding: 0, 1, 0, 0;
}

/*----------- QComboBox ------------*/
QComboBox
{
        font: 9pt "Corbel";
        border: 2px solid rgb(245, 245, 245);
        background: rgb(60, 60, 60);
        color: rgb(242, 242, 242);
        padding: 1px 3px 3px 8px;
 }

QComboBox QListView
{
        background-color: rgb(60, 60, 60);
        border: transparent;
        font: 9pt "Corbel";
        padding-left: 3px;
        padding-right: 3px;
        min-width: 35px;
}

QComboBox QAbstractItemView
{
    min-width: 150px;
}

QComboBox::item:alternate
{
        background: rgb(90, 90, 90);
}

QComboBox::item:selected
{
        border: 1px solid transparent;
        background: rgb(0,174,239);
}

QComboBox::indicator
{
        background-color: transparent;
        selection-background-color: transparent;
        color: transparent;
        selection-color: white;
}

QComboBox::drop-down
{
        width: 1px;
        height: 1px;
        subcontrol-origin: margin;
        subcontrol-position: right center;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        padding: 1px 1px 1px 4px;
}

QComboBox::disabled
{
        font: 10pt "Corbel";
        border: 2px solid rgb(100, 100, 100);
        background: rgba(20, 20, 20, 100);
        color: rgb(100, 100, 100);
        padding: 1px 3px 1px 4px;
}

QComboBox::focus
{
        border: 2px solid rgb(0, 174, 239);
}

QTabWidget {}

QTabWidget::pane
{
    border: 2px solid rgb(89, 89, 89);
}

QTabWidget::tab-bar
{
    left: 20px;
}

QTabBar::tab
{

    min-width: 100px;
    background-color: rgb(40, 40, 40);
    font: 12pt 'Corbel';
    color: rgb(242, 242, 242);
    border-left: 2px solid rgb(89, 89, 89);
    border-right: 2px solid rgb(89, 89, 89);
    border-top: 2px solid rgb(89, 89, 89);
    padding: 2px;}

QTabBar::tab:selected
{
    background-color: rgb(89, 89, 89);
}


